<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POOR: Proof of Overwhelming Richness</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>ERROR: Something goes wrong</h1>
</header>
<main>
    <section class="intro">
        <h2>Do not worries</h2>
        <p>We got the stack, we work on it</p>
    </section>
</main>
<footer>
    <p>&copy; 2025 POOR. All rights reserved.</p>
</footer>
</body>
</html>